/* Login.css */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(252, 244, 236);
}

.login-image {
  width: 100%;
  height: auto;
  max-width: 300px; /* 적절한 최대 너비 설정 */
  margin-bottom: 20px;
  object-fit: contain; /* 이미지 비율 유지하며 컨테이너에 맞춤 */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.login-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #29351a;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
