/* main.css */

body,
html {
  height: 100%;
  margin: 0;
  font-family: "SUITE", sans-serif;
  font-weight: 550;
  background-color: rgb(255, 255, 255);
}

.real-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    white 50%,
    rgb(252, 244, 236) 50%
  );
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}
.main-container {
  align-items: center; /* 가로 중앙 정렬 */
  height: 100vh;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(248, 248, 248);
}

.category {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* 최소 150px, 가능한 최대 너비로 자동 조정 */
  /* 각 버튼 사이의 간격 */
  column-gap: 3px;
  row-gap: 10px;

  width: 100%;
  max-width: 380px; /* 최대 너비 설정 */
  margin-bottom: 37%;
  margin-left: 5%;
}
span {
  font-size: larger;
  color: #29351a;
}
.top-half {
  width: 100%;
  max-width: 500px;
  height: 50%;
  background-color: rgb(252, 244, 236);
  border-end-start-radius: 20%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  box-sizing: border-box;
}

.bottom-half {
  width: 100%;
  height: 50%;
  background-color: white;
  border-start-end-radius: 20%;
  align-items: center;
  display: flex;
}

.circle {
  width: 83%;
  object-fit: contain;
  height: 60%;
  margin-top: -55px;
}
.circle1 {
  width: 42%;
  height: 42%;
  border-radius: 50%;
  background-color: #c6b597;
  position: relative;
  left: 50%;
  bottom: 11%;
}

.circle2 {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #56805a;
  position: relative;
  left: 45%;
  bottom: -35%;
  background-size: 80%;
}

.circle3 {
  width: 37%;
  height: 40%;
  border-radius: 50%;
  background-color: #c2dfc3;
  position: relative;
  left: 55%;
  bottom: 20%;
  background-size: 80%;
}

.circle4 {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  left: -20%;
  bottom: 100%;
  background-size: 80%;
}

.description {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin-left: -1%;
  margin-bottom: 150px;
  justify-content: flex-end;
  display: flex;
}

.tired {
  padding-top: 0px;
  margin-right: 0.5em;
  font-size: 150%;
  margin-left: 6%;
  font-weight: 800;
  margin-bottom: 3%;
  color: #29351a;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.today {
  font-weight: 800;
  margin-right: 0.1rem;
  color: #29351a;
}
.comment {
  font-size: 120%;
  white-space: nowrap;
  text-align: right;
  margin-right: 1rem;
  width: 100%;
  margin-left: 20%;
}

.keywords {
  width: 100%;
  height: 230%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 0.5rem;
}

.keyword1 {
  width: 50%;
  font-size: 120%;
  margin-right: 0.2rem;
  margin-bottom: 10px;
}

.word1 {
  position: relative;
  text-align: right;
  max-width: fit-content;
  color: #29351a;
  font-weight: 700;
  white-space: nowrap;
}

.keyword2 {
  width: 50%;
  font-size: 120%;

  margin-right: 0.2rem;
}
.keyCircle1 {
  position: relative;
  width: 20%;
  height: 70%;
  top: 15px;
  left: -5%;
  background-color: #c6b597;
  border-radius: 50%;
}
.keyCircle2 {
  position: relative;
  width: 20%;
  height: 70%;
  top: 15px;
  left: -5%;
  background-color: #98c697;
  border-radius: 50%;
}

.word2 {
  position: relative;
  text-align: right;
  max-width: fit-content;
  color: #29351a;
  white-space: nowrap;
  font-weight: 700;
}

.category button {
  width: 100%;
  max-width: 100px;
  padding: 5%;
  background-color: #fcf4ec;
  border: 1px solid #29351a;
  box-shadow: 1px 1px 1px grey;
  border-radius: 8rem;
  color: #29351a;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  white-space: nowrap; /* 텍스트가 길어도 줄 바꿈 없이 표시 */
  font-family: "SUITE", sans-serif;
}

.category button:hover {
  background-color: #dacbbd;
}

.category button:focus {
  outline: none;
}

.category button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (min-width: 600px) {
  .category {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 화면 너비가 600px 이상일 때 3열로 고정 */
  }
}

.bottom-img {
  max-width: 500px;
  width: 100%;
  height: 86%;
}
.various-product {
  font-weight: 900;
  color: #29351a;
}
.main-img-container {
  max-width: 400px;
  width: 85%;
  margin-top: 60%;
}
.ad {
  width: 100%;

  /* 적절한 최대 너비 설정 */

  object-fit: contain;
}
