/* main.css */

body,
html {
  height: 100%;
  margin: 0;
  font-family: "SUITE", sans-serif;
  font-weight: 550;
  background-color: rgb(255, 255, 255);
}

.real-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    white 50%,
    rgb(252, 244, 236) 50%
  );
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  height: 100vh;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
}
.ad {
  width: 100%;
  margin-top: 60%;
  max-width: 400px; /* 적절한 최대 너비 설정 */
  margin-bottom: 0;
  object-fit: contain;
}
.category {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* 최소 150px, 가능한 최대 너비로 자동 조정 */
  gap: 15px; /* 각 버튼 사이의 간격 */
  width: 100%;
  max-width: 400px; /* 최대 너비 설정 */
  margin-bottom: 40%;
  margin-left: 5%;
}
span {
  font-size: larger;
  color: #29351a;
}
.top-half {
  width: 100%;
  max-width: 500px;
  height: 50%;
  background-color: rgb(252, 244, 236);
  border-end-start-radius: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  box-sizing: border-box;
}

.bottom-half {
  width: 100%;
  height: 50%;
  background-color: white;
  border-start-end-radius: 25%;
  align-items: center;
  display: flex;
}

.circle {
  width: 55%;
  object-fit: contain;
  height: 50%;
  margin-top: -60px;
}
.circle1 {
  width: 37%;
  height: 39%;
  border-radius: 50%;
  background-color: #c6b597;
  position: relative;
  left: 50%;
  bottom: 7%;
}

.circle2 {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #56805a;
  position: relative;
  left: 52%;
  bottom: -50%;
  background-size: 80%;
}

.circle3 {
  width: 37%;
  height: 40%;
  border-radius: 50%;
  background-color: #c2dfc3;
  position: relative;
  left: 65%;
  bottom: 7%;
  background-size: 80%;
}

.circle4 {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  left: -20%;
  bottom: 100%;
  background-size: 80%;
}

.description {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin-left: -1%;
  margin-bottom: 150px;
}

.tired {
  padding-top: 0px;
  margin-right: 2%;
  font-size: 150%;
  margin-left: 6%;
}

.today {
  font-size: 150%;
}
.comment {
  text-align: right;
  width: 54.7%;
  margin-left: 20%;
}

.keywords {
  width: 130%;
  height: 230%;
  position: relative;
}

.keyword1 {
  width: 40%;
  height: 20%;
  margin-left: 30%;
}

.keyCircle1 {
  position: relative;
  width: 19%;
  height: 45%;
  top: 15px;
  left: 35%;
  background-color: #c6b597;
  border-radius: 50%;
}

.word1 {
  position: relative;
  text-align: right;
  left: 10%;
}

.keyword2 {
  width: 40%;
  height: 20%;
  margin-left: 30%;
}

.keyCircle2 {
  position: relative;
  width: 19%;
  height: 45%;
  top: 15px;
  left: 35%;
  background-color: #98c697;
  border-radius: 50%;
}

.word2 {
  position: relative;
  text-align: right;
  left: -5%;
}

.category button {
  width: 100%;
  max-width: 100px;
  padding: 5px;
  background-color: #fcf4ec;
  border: 1px solid #29351a;
  box-shadow: 2px 2px 2px grey;
  border-radius: 18px;
  color: #29351a;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  white-space: nowrap; /* 텍스트가 길어도 줄 바꿈 없이 표시 */
}

.category button:hover {
  background-color: #dacbbd;
}

.category button:focus {
  outline: none;
}

.category button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (min-width: 600px) {
  .category {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 화면 너비가 600px 이상일 때 3열로 고정 */
  }
}
