.result-animal-container {
  width: 100%; /* 전체 너비 사용 */
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  overflow: hidden; /* 플로트된 요소 포함 */
  padding: 10px;
  box-sizing: border-box; /* 패딩 포함 너비 계산 */
  height: 80%;
}
.animal-circle-div {
  width: 50%; /* 이미지 컨테이너 너비 */
  height: 25%; /* 이미지 컨테이너 높이 */
  margin-right: 10px; /* 이미지와 텍스트 간의 간격 */
  margin-top: 10%;
  border: 1px solid black;
}
.animal-img {
  width: 100%; /* 이미지 너비 */
  height: 100%; /* 이미지 높이 */
  object-fit: contain;
  border-radius: 50%; /* 원형으로 만들기 */
}
.result-animal-detail {
  padding: 5%;
  text-align: center;
  box-sizing: border-box; /* 패딩 포함 너비 계산 */
  border: 1px solid black;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.personal-type {
  font-weight: 800;
  font-size: 150%;
  color: #29351a;
  margin-bottom: 10%;
}
