p {
  font-family: "SUITE", sans-serif;
}
.PrevPage2 {
  font-size: larger;
  margin-left: 9rem;
  cursor: pointer;
  color: #806e56;
}
.test-title {
  display: flex;
  cursor: pointer;
  margin-left: 18rem;
}
.bell,
.gear {
  color: #806e56;
  font-size: larger;
}
