/* Join.css */
body,
html {
  height: 100%;
  margin: 0;
  font-family: "SUITE", sans-serif;
}

.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(252, 244, 236);
}

.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-form h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.join-input {
  width: calc(100% - 40px);
  margin-bottom: 15px;
  padding: 10px 10px 10px 20px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  background-color: #c6b597;
  color: #fcf4ec;
  border-radius: 1rem;
}

::placeholder {
  color: #fcf4ec; /* 원하는 색상 코드로 변경 */
  opacity: 1; /* 기본적으로 일부 브라우저에서는 불투명도를 조정하므로 이를 설정 */
  font-family: "SUITE", sans-serif;
}

.join-input:focus {
  border-color: #c6b597;
  box-shadow: 0 0 5px #c6b597;
  outline: none;
}

.join-button {
  width: 40%;
  padding: 10px;
  background-color: #56805a;
  border: none;
  border-radius: 3rem;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #141b0d;
}

.join-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
